@charset "utf-8";
*{

    outline: 1px solid rgba(255, 0, 0, 0.168);
}

body{
    font-size: 100%;
    color: var(--black);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --white: #E2E2E2;
    --black: #333333;
    --lightBlue:#39B6FF;
}

@media (min-width:1024px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        height: 5rem;
        h1{
            padding: 0 1rem;
        }
       ul{
            display: flex;
            font-size: 1rem;
            font-weight: bold;
            li {
                padding: 1.7rem;
                &:nth-child(5){
                    background-color: var(--lightBlue);
                    a{
                        color: #fff;
                    }
                  }
                a{
                    color: var(--black);
                    span{
                        margin-right: 10px;
                        color: var(--black);
                        padding: .7rem;
                        border-radius: 20%;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}
