// カラー変数
$colors:(
    lightBlue: #39B6FF,
    black: #333333,
    white: #fff,
    paul: #00c7ed,
    darkBlue: #224377,
    base: #F2F9FD
);
@function colors($key) {
    @return map-get($colors, $key);
};

//ブレークポイント
$breakpoint:(
    mb:680px,
    tb:768px,
    dt:1024px
)!default;

// $breakpoint-mq:(
//     mb: screen map-get($mb, $breakpoint),
//     tb: screen map-get
//     dt:
// )!default;

// @mixin mq( ) {
//     @media#map-get{}
//     @content;
// }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid rgba(255, 0, 0, 0.168);
}

body{
    font-size: 100%;
    color: colors(black);
}

p,li{
    line-height: 2rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: colors(black);
}

.l-wrapper{
    padding: 0 1rem;
}


.section__title{
    text-align: center;
}


.header{
    background-color: rgba(colors(white), .9);
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 5rem;
    .header__logo{
        padding: 1rem;
    }
    .header__list{
        display: none;
    }
}

#hero{
    position: relative;
    text-align: center;
    height: 100vh;
    // margin-top: 5rem headerも適応されて下に配置されるのはなぜ;
    padding-top: 5rem;
    p{
        background-color: colors(lightBlue);
        color: colors(white);
        padding: 1rem 3rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        span{
            display: inline-block;
            width: 100%;
        }
    }
    h2{
        color: colors(darkBlue);
        span{
            display: inline-block;
            width: 100%;
        }
    }
    ul{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        li{
            background-color: colors(lightBlue);
            color: colors(white);
            padding: 1rem;
            border-radius: 1rem;
        }
    }
    .hero-bg{
        background: url("../images/mainview_img.jpg") -300px 10px /  cover  no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 90%;
        height: 60%;
        z-index: -1;
    }
}


.section-reason{
    background-color: colors(lightBlue);
    color: colors(white);
    text-align: center;
    .section-reason__list{
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        margin: 0 auto;
        gap: 4rem 4%;
        li{
            width: 48%;
            img{
                border:4px solid #fff;
                border-radius: 8%;
                padding: 1rem 2rem;
            }
            p{
                margin-bottom: 2rem;
            }
        }
    }
}


.section-select{
    .section-select__card{
        .section__img{
            border-radius: 2rem;
            max-width: 400px;
            box-shadow: 1rem 1rem colors(lightBlue);
        }
    }

}
.section-learn{
    .learn-skills__title{
        color: colors(darkBlue);
        text-align: center;
        font-size: 1.7rem;
    }
    .learn-skills{
       background-color: colors(lightBlue);
       text-align: center;
       width: 100%;
       font-size: 0.8rem;
       font-weight: bold;
       padding: 1rem;
       border-radius: 1rem;
       .learn__skill{
            display: inline-block;
            padding: .1rem .3rem;
            background-color: colors(white);
            color: colors(lightBlue);
            border-radius: 1rem;
           }
        }
    .learn-step{
        border: 4px solid colors(lightBlue);
        border-radius: 1rem;
        .learn-step__title{
            color: colors(darkBlue);
            background-color: rgba(colors(paul), .1);
            text-align: center;
            font-size: 1.3rem;
        }
        .learn-step__content{
            padding: 1rem 2rem;
            .learn-step__content_month{
                display: inline-block;
                padding: .2rem 2rem;
                color: colors(lightBlue);
                border-radius: 1rem;
                background-color: rgba(colors(paul), .1);
            }
        }
    }
}

#support{
    ul{
        display: grid;
        grid-template-rows:  repeat(auto-fix, min-max(1fr ,300px));
        li{
            img{
                margin: 0 auto;
            }
        }
    }
    .support-comment{
        background-color: colors(white);
        &>p{
            color: colors(lightBlue);
        }
        ul{
            color: colors(white);
            li{
                background-color: colors(lightBlue);
                border-radius: 8%;
                p{
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
}

#price{
    background-color: colors(lightBlue);
    h2{
        color: colors(white);
    }
    .price-course{
        background-color: colors(white);
        border-radius: 8%;
        p:first-child{
            background-color: colors(lightBlue);
        }
        span{
            background-color: colors(paul);
        }
    }
}

#voice{
    li{
        text-align: center;
        img{
            margin: 0 auto;
            border-radius: 50%;
            border: 3px solid colors(lightBlue);
        }
    }
}

#provide{
    background-color: colors(lightBlue);
    color: #fff;

    .provide-more{
        display: flex;
        .more-freely-icon{
            background-color: colors(white);
        }
        ul{
            background-color: colors(white);
            color: colors(darkBlue);
        }
    }
    .provide-btn{
        background-color: colors(white);
        text-align: center;
        padding: 1rem;
        a{
            color: colors(darkBlue);
        }
    }

}

#contact{
    background-color: colors(base);
    p{
        text-align: center;
    }
    form{
        label{
            color: colors(darkBlue);
        }
        input,textarea{
            background-color: #fff;
            width: 100%;
            border-radius: 8%;
        }
        p{
            background-color: colors(lightBlue);
        }
    }
}

footer{
    background-color: colors(darkBlue);
    text-align: center;
    .A-TECH-logo{
        background-color: colors(white);
    }
    p{
        a{
            color: colors(white);
        }
    }
    .S-GATE-logo{
        background-color: colors(white);
    }
    small{
        color: colors(white);
    }
}


@media (min-width:1024px) {
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(colors(white), .9);
       ul{
            display: flex;
            font-size: 1rem;
            font-weight: bold;
            li {
                padding: 1.7rem;
                a{
                    color: colors(black);
                }
                &:nth-child(5){
                    border-bottom-left-radius: 1.2rem;
                    background-color: colors(lightBlue);
                    a{
                        color: colors(white);
                    }
                    span{
                        margin-right: 1rem;
                        color: colors(black);
                        padding: .7rem;
                        border-radius: 20%;
                        background-color: colors(white);
                    }
                  }
            }
        }
    }
}
