* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid rgba(255, 0, 0, 0.168);
}

body {
  font-size: 100%;
  color: #333333;
}

p, li {
  line-height: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

.l-wrapper {
  padding: 2.3rem 0.9rem;
}

.section__title {
  text-align: center;
  margin-bottom: 1.7rem;
}

strong {
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 5rem;
}
.header .header__logo {
  padding: 1rem;
}
.header .header__list {
  display: none;
}
.header .humberger-menu {
  width: 90px;
  height: 65px;
  border-radius: 0 0 0 1rem;
  background-color: #39B6FF;
}

.hero {
  position: relative;
  text-align: center;
}
.hero .hero-container {
  margin-top: 4rem;
  height: 130vh;
}
.hero .hero__txt_small {
  background-color: rgba(57, 182, 255, 0.5);
  color: #fff;
  padding: 0.1rem 3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.hero .hero__txt_small span {
  display: inline-block;
  width: 100%;
}
.hero .hero__txt_big {
  color: #224377;
}
.hero .hero__txt_big span {
  display: inline-block;
  width: 100%;
}
.hero .hero__txt_big span:nth-child(1) {
  font-weight: 100;
  font-size: 1.2rem;
}
.hero .hero__txt_big span:nth-child(2) {
  font-weight: bold;
  font-size: 2rem;
}
.hero .hero__txt_big span:nth-child(3) {
  font-weight: 100;
}
.hero .hero__list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-top: 2rem;
}
.hero .hero__list li {
  background-color: #39B6FF;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 0.7rem;
  line-height: 1.3;
  width: 30%;
  z-index: 1;
}
.hero .hero-bg {
  background: url("../images/mainview_img.jpg") -220px 0px/cover no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 50%;
}

.section-reason {
  background-color: #39B6FF;
  color: #fff;
  text-align: center;
  padding-bottom: 3rem;
}
.section-reason .section-reason__txt {
  margin: 1.7rem 0;
}
.section-reason .section-reason__list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
  gap: 4rem 4%;
}
.section-reason .section-reason__list li {
  width: 48%;
}
.section-reason .section-reason__list li img {
  border: 4px solid #fff;
  border-radius: 8%;
  padding: 1rem 2rem;
}
.section-reason .section-reason__list li p {
  margin-bottom: 2rem;
}

.section-select {
  background-color: rgba(173, 216, 230, 0.1);
  counter-reset: number 0;
}
.section-select .section__title strong {
  font-size: 2rem;
}
.section-select .section-select__list .list__item {
  margin: 15px 0;
}
.section-select .section-select__list .list__item-txt_title {
  position: relative;
  padding-left: 3rem;
}
.section-select .section-select__list .list__item-txt_title::before {
  position: absolute;
  counter-increment: number 1;
  content: counter(number);
  left: 0%;
  bottom: 15px;
  color: #39B6FF;
  font-size: 4rem;
  font-weight: 100;
}
.section-select .section-select__list .list__item-txt_article {
  margin-top: 15px;
}
.section-select .section-select__list .section__img {
  border-radius: 2rem;
  width: calc(100% - 30px);
  margin: 2rem 10px 3rem;
  box-shadow: 10px 10px rgba(57, 182, 255, 0.8);
}

.bg-triangle {
  width: auto;
  height: 0;
  border-style: solid;
  border-width: 100px 180px 0px 180px;
  border-color: rgba(173, 216, 230, 0.1) transparent transparent transparent;
}

.section-learn .learn-skill__title {
  color: #224377;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0.82rem;
}
.section-learn .learn__card_left, .section-learn .learn__card_right, .section-learn .learn-step {
  margin-bottom: 3rem;
}
.section-learn .learn__card_cautionary {
  margin-top: 1.3rem;
}
.section-learn .learn-list {
  background-color: #39B6FF;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
  line-height: 2.5rem;
}
.section-learn .learn-list .learn__skill {
  display: inline-block;
  padding: 0 0.3rem;
  background-color: #fff;
  color: #39B6FF;
  border-radius: 0.8rem;
  margin: 0 0.1rem;
}
.section-learn .learn-step {
  border: 4px solid #39B6FF;
  border-radius: 1rem;
}
.section-learn .learn-step .learn-step__title {
  color: #224377;
  background-color: rgba(0, 199, 237, 0.1);
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5rem;
}
.section-learn .learn-step .learn-step__content {
  padding: 1rem 2rem;
}
.section-learn .learn-step .learn-step__content .learn-step__content_month {
  display: inline-block;
  padding: 0.2rem 2rem;
  color: #39B6FF;
  border-radius: 1rem;
  background-color: rgba(0, 199, 237, 0.1);
}
.section-learn .learn-step .learn-step__content .learn-step__content_txt {
  padding: 0.5rem 0 0.6rem;
}

#support {
  background-color: rgba(161, 227, 255, 0.1);
}
#support .support__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 3rem;
}
#support .support__list .support__item img {
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid #39B6FF;
  margin: 1.5rem auto;
}
#support .support__list .support__item .support__item_title {
  color: #39B6FF;
}
#support .support-comment {
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  background-color: #fff;
}
#support .support-comment .support-comment__txt_top {
  color: #39B6FF;
  margin-bottom: 2rem;
}
#support .support-comment .support-comment__list {
  color: #fff;
}
#support .support-comment .support-comment__list li {
  background-color: #39B6FF;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
#support .support-comment .support-comment__list li P {
  padding: 0 1.2rem 1.2rem;
}
#support .support-comment .support-comment__list li .support-comment__list_title {
  padding: 1rem 0 0.5rem;
  border-bottom: 2px solid #fff;
}

.section-price {
  background-color: #39B6FF;
}
.section-price .section__title {
  color: #fff;
}
.section-price .price__course {
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.section-price .price__course .price__course_title {
  text-align: center;
  color: #fff;
  border-radius: 1rem 1rem 0 0;
  background-color: #39B6FF;
  font-weight: bold;
  padding: 0.5rem;
}
.section-price .price__course .price__course_txt {
  text-align: center;
  padding: 1rem 0.4rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.section-price .price__course span {
  font-size: 0.9rem;
  color: #fff;
  background-color: #00c7ed;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
.section-price .price__img {
  overflow-x: scroll;
}
.section-price .price__img img {
  max-width: 760px;
}

.section-voice .voice__item {
  border-radius: 1rem;
  border: 4px solid #39B6FF;
  max-width: 250px;
  margin: 0 auto 4rem;
  padding: 1rem;
}
.section-voice .voice__item img {
  margin: 0 auto 15px;
  border-radius: 50%;
  border: 3px solid #39B6FF;
}
.section-voice .voice__item .voice__item_name {
  margin-bottom: 15px;
  background-color: #39B6FF;
  text-align: center;
  color: #fff;
  border-radius: 1rem;
  background-color: #39B6FF;
}

.section-provide {
  background-color: #39B6FF;
  color: #fff;
}
.section-provide .provide__card {
  display: grid;
  gap: 15px;
}
.section-provide .provide__card .provide__more-container {
  display: flex;
  width: calc(100% - 5px);
  gap: 5px;
  margin-bottom: 15px;
}
.section-provide .provide__card .provide__more-container .more-wrapper_icon {
  background-color: #fff;
  border-radius: 1rem 0 0 1rem;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-provide .provide__card .provide__more-container .more-wrapper_icon img {
  display: inline;
}
.section-provide .provide__card .provide__more-container .more-wrapper_lists {
  text-align: center;
  width: 60%;
  background-color: #fff;
  color: #224377;
  border-radius: 0 1rem 1rem 0;
}
.section-provide .provide__card .provide__card_right .more-wrapper_img {
  border-radius: 2rem;
  max-width: 350px;
  box-shadow: 10px 10px 0 #a1e3ff;
  margin: 0 auto;
}
.section-provide .provide__card .provide__card_right .more-wrapper_btn {
  text-align: center;
  max-width: 300px;
  padding: 0.8rem 0.3rem;
  border-radius: 2rem;
  margin: 15px auto 0;
  text-align: center;
  background-color: #fff;
}
.section-provide .provide__card .provide__card_right .more-wrapper_btn a {
  color: #224377;
}

.section-contact {
  background-color: #F2F9FD;
}
.section-contact p {
  text-align: center;
}
.section-contact form label {
  color: #224377;
  font-weight: bold;
}
.section-contact form input, .section-contact form textarea {
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  border: 0px solid #000;
  margin-bottom: 15px;
}
.section-contact form .form__name {
  margin-bottom: 15px;
}
.section-contact form p {
  background-color: #39B6FF;
}
.section-contact form .section__btn {
  text-align: center;
  max-width: 300px;
  padding: 0.8rem 0.3rem;
  border-radius: 2rem;
  margin: 15px auto 0;
  text-align: center;
  background-color: #39B6FF;
}
.section-contact form .section__btn a {
  color: #fff;
}

.footer {
  background-color: #224377;
  text-align: center;
  padding: 1rem;
}
.footer .footer__container {
  display: grid;
  gap: 1rem;
  margin-bottom: 3rem;
}
.footer .footer__container .A-TECH-logo {
  width: 250px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}
.footer .footer__container .A-TECH-logo img {
  margin: 0 auto;
}
.footer .footer__container p a {
  color: #fff;
}
.footer .footer__container .S-GATE-logo {
  background-color: #fff;
  width: 100px;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0 auto;
}
.footer .copy {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .hero .hero-container {
    background: url("../images/mainview_img.jpg") 0px 0px/cover no-repeat;
    width: 100%;
    height: 50vh;
  }
  .hero .hero__txt_small {
    width: 600px;
    margin: 0 auto;
  }
  .hero .hero__txt_small span {
    width: auto;
  }
  .hero .hero-bg {
    display: none;
  }
  .section-reason .section__title br {
    display: none;
  }
  .section-reason .section-reason__list {
    max-width: 100vw;
  }
  .section-reason .section-reason__list li {
    margin: 0 auto;
    width: 150px;
  }
  .section-select .section-select__list .list__item {
    display: flex;
    gap: 15px;
  }
  .section-select .section-select__list .list__item:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .section-select .section-select__list .list__item .section__img {
    margin-top: 0;
    width: 350px;
  }
  .section-learn .learn__skill-container {
    display: flex;
    gap: 30px;
  }
  .section-learn .learn__skill-container .learn__card_left, .section-learn .learn__skill-container .learn__card_right {
    width: calc(50% - 30px);
  }
  .section-learn .learn-step__content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
  }
  .section-learn .learn-step__content dd {
    width: 80%;
    text-align: left;
  }
  .section-support .section__title br {
    display: none;
  }
  .section-support .support-comment__list {
    display: flex;
    gap: 30px;
    width: 100%;
  }
  .section-support .support-comment__list .support-comment__item {
    width: calc(50% - 30px);
  }
  .section-price .price__course {
    width: 50%;
    margin: 0 auto 60px;
  }
  .section-voice .voice__list {
    display: flex;
  }
  .section-provide .provide__card {
    display: flex;
    gap: 20px;
  }
  .section-provide .provide__card .provide__card_left, .section-provide .provide__card .provide__card_right {
    width: calc(50% - 20px);
  }
  .section-contact dl {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .section-contact dl dt {
    width: 30%;
  }
  .section-contact dl dd {
    width: 50%;
  }
  .footer .footer__container {
    display: flex;
    justify-content: space-around;
  }
  .footer .footer__container .footer__container_right {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .header .header__list {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
  }
  .header .header__list li {
    padding: 1.7rem;
  }
  .header .header__list li a {
    color: #333333;
  }
  .header .header__list li:nth-child(5) {
    border-bottom-left-radius: 1.2rem;
    background-color: #39B6FF;
  }
  .header .header__list li:nth-child(5) a {
    color: #fff;
  }
  .header .header__list li:nth-child(5) span {
    margin-right: 1rem;
    color: #333333;
    padding: 0.7rem;
    border-radius: 20%;
    background-color: #fff;
  }
  .header .humberger-menu {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */