@charset "utf-8";
$colors:(
    lightBlue: #39B6FF,
    lightBlue2:#a1e3ff,
    black: #333333,
    white: #fff,
    paul: #00c7ed,
    darkBlue: #224377,
    base: #F2F9FD
);
@function colors($key) {
    @return map-get($colors, $key);
};

//ブレークポイント
$breakpoint: (
    dt:'screen and (min-width: 1024px)',
    tb:'screen and (min-width: 768px)',
    ph:'screen and (min-width: 680px)'
);


@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)}{
        @content;
    }
}


@mixin dl(){
    dl {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
      }
      dl dt {
        width: 30%;
      }
      dl dd {
        width: 50%;
      }
}


// ボタン
@mixin btn(){
    max-width: 300px;
    border-radius: 2rem;
    padding: .8rem .3rem;
    margin: 15px auto 0;
    text-align: center;
}
/*common-style
================================================*/

*{
    outline: 1px solid rgba(255, 0, 0, 0.168);
}

body{
    font-size: 100%;
    color: colors(black);
}

p,li{
    line-height: 2rem;
}

ul{
    list-style: none;
}

a{
    color: colors(black);
    text-decoration: none;
}

strong{
    font-weight: bold;
}

/*================================================*/

/*header
================================================*/
.header{
    background-color: rgba(colors(white), .9);
    @include mq('dt'){
        .header__list{
            li {
                a{
                    color: colors(black);
                }
                &:nth-child(5){
                    background-color: colors(lightBlue);
                    a{
                        color: colors(white);
                    }
                    span{
                        color: colors(black);
                        background-color: colors(white);
                    }
                  }
            }
        }
    }
    .hamburger-menu{
        background-color: colors(lightBlue);
    }
}

/*================================================*/

/*hero
================================================*/
.hero{
    position: relative;
    text-align: center;
    @include mq('tb'){
        position: relative;
    }
    // margin-top: 5rem headerも適応されて下に配置されるのはなぜ;
    .hero__txt_small{
        background-color: rgba(colors(lightBlue), .5);
        color: colors(white);
    }
    .hero__txt_big{
        color: colors(darkBlue);
    }
    .hero__list{
        li{
            color: colors(white);
            background-color: colors(lightBlue);
        }
    }
}


/*================================================*/

/*reason
================================================*/
.section-reason{
    background-color: colors(lightBlue);
    color: colors(white);
}
/*================================================*/

/*select
================================================*/
.section-select{
    background-color: rgba((lightBlue), .1);
    .section-select__list{
        .list__item-txt_title{
            &::before{
                color: colors(lightBlue);
            }
        }
    }
}
/*================================================*/


/*bg-triangle
================================================*/
.bg-triangle{
    border-color: rgba((lightBlue), .1)transparent transparent transparent;
    }
    @include mq('dt'){
        .bg-triangle{
            border-color: rgba((lightBlue), .1)transparent transparent transparent;
        }
    }
/*================================================*/

/*lean
================================================*/
.section-learn{
    .learn-skill__title{
        color: colors(darkBlue);
    }
    .learn-list{
       background-color: colors(lightBlue);
       .learn__skill{
           background-color: colors(white);
           color: colors(lightBlue);
           }
        }
    .learn-step{
        .learn-step__title{
            color: colors(darkBlue);
            background-color: rgba(colors(paul), .1);
        }
        .learn-step__content{
            .learn-step__content_month{
                color: colors(lightBlue);
                background-color: rgba(colors(paul), .1);
            }
        }
    }
}
/*================================================*/

/*support
================================================*/
.section-support{
    .support__list{
        .support__item{
            .support__item_title{
                color: colors(lightBlue);
            }
        }
    }
    .support-comment{
        background-color: colors(white);
        .support-comment__txt_top{
            color: colors(lightBlue);
        }
        .support-comment__list{
            color: colors(white);
            li{
                background-color: colors(lightBlue);
            }
        }
    }
}
/*================================================*/

/*price
================================================*/
.section-price{
    background-color: colors(lightBlue);
    .section__title{
        color: colors(white);
    }
    .price__course{
        background-color: colors(white);
        .price__course_title{
            color: colors(white);
            background-color: colors(lightBlue);
        }
        span{
            color: colors(white);
            background-color: colors(paul);
        }
    }
}

/*================================================*/

/*voice
================================================*/
.section-voice{
    .voice__item{
        border: 4px solid colors(lightBlue);
        .voice__item_name{
            background-color: colors(lightBlue);
            color: colors(white);
        }
    }
}
/*================================================*/

/*provide
================================================*/
.section-provide{
    background-color: colors(lightBlue);
    color: #fff;
    .provide__card{
        .provide__more-container{
            .more-wrapper_icon{
                background-color: colors(white);
            }
            .more-wrapper_lists{
                background-color: colors(white);
                color: colors(darkBlue);
            }
        }
        .provide__card_right{
            // 後で必要になるかも
            .more-wrapper_img{

            }
            .more-wrapper_btn{
                background-color: colors(white);
                a{
                    color: colors(darkBlue);
                }
            }
        }
    }
}
/*================================================*/

/*contact
================================================*/
.section-contact{
    background-color: colors(base);
    p{

    }
    form{
        label{
            color: colors(darkBlue);
        }
        input,textarea{
            background-color: colors(white);

        }

        p{
            background-color: colors(lightBlue);
        }
       .section__btn{

            background-color: colors(lightBlue);
            a{
                color: colors(white);
            }
        }
    }
}


/*================================================*/

/*footer
================================================*/
.footer{
    background-color: colors(darkBlue);

    .footer__container{

        .A-TECH-logo{
            background-color: colors(white);
        }
        p{
            a{
                color: colors(white);
            }
        }
        .S-GATE-logo{
            background-color: colors(white);
        }
    }
    .copy{
        color: colors(white);
        // margin-top: 3rem;聞かない理由
    }
}

@include mq('tb'){

    .footer{
        .footer__container{

            .footer__container_right{

            }
        }
    }
}
/*================================================*/
