@use "../globals" as *;
@use "../parts" as *;
/*bg-triangle
================================================*/
.bg-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10vh 50vw 0 50vw;
    border-color: rgba($lightBlue2, .1) transparent transparent transparent;
    }
/*================================================*/
