@use "../globals" as *;
@use "../parts" as *;
/*contact
==================================================*/
.section-contact{
    background-color: $base;
.contact__list{
    display: block;
    @include mq(tb){
        display: flex;
    }
}
    p{
        text-align: center;
    }
    form{
        label{
            color: $darkBlue;
            font-weight: bold;
        }
        input,textarea{
            background-color: $white;
            width: 100%;
            border-radius: 1rem;
            border:0px solid #000;
            margin-bottom: 15px;
        }
        .form__name{
            margin-bottom: 15px;
        }
        p{
            background-color: $lightBlue;
        }
       .section__btn{
            @extend .btn;
            background-color: $lightBlue;
            a{
                color: $white;
            }
        }
    }
}

/*================================================*/
