@use "../globals" as *;
@use "../parts" as *;
/*contact
==================================================*/
.section-contact{
    background-color: rgba($lightBlue2, .1);
.contact__list{
    display: block;

}
    p{
        text-align: center;
        margin-bottom: 15px;
    }
    form{
        max-width: 480px;
        margin: 0 auto;
        @include mq(tb){
            max-width: 640px;
        }
        .contact__list_item{
            display: block;
            @include mq(tb){
                display: flex;
                align-items: center;
            }
        }
        label{
            color: $darkBlue;
            font-weight: bold;
        }
        input,textarea{
            background-color: $white;
            width: 100%;
            border-radius: 1.5rem;
            border:0px solid #000;
            margin-bottom: 15px;
        }
        .form__name{
            width: 150px;
            margin-bottom: 15px;
        }
        dd{
            width: 100%;
            @include mq(tb){
                width: calc(100% - 150px);
            }
        }
        p{
            background-color: $lightBlue;
        }
       .section__btn{
            @extend .btn;
            background-color: $lightBlue;
            a{
                color: $white;
            }
        }
    }
}

/*================================================*/
