@use "../globals" as *;
@use "../parts" as *;
/*header
==================================================*/
.header{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: rgba($white, .9);
    z-index: 2;
    align-items: center;
    .header__logo{
        padding: 0 1rem;
    }
    .header__list{
        display: none;
        font-weight: bold;

        @include mq(dt){
            display: flex;
            li {
                padding: 1.7rem 1.2rem;
                a{
                    color: colors(black);
                }
                &:nth-child(5){
                    border-bottom-left-radius: 1.2rem;
                    background: $lightBlue;
                    color: $white;
                    margin-left: 30px;
                    span{
                        margin-right: 1rem;
                        padding: .7rem;
                        border-radius: 20%;
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }
    }
    .hamburger-menu{
        width: 100px;
        height: 70px;
        border-radius: 0 0 0 22px;
        background-color: $lightBlue;
        position: relative;
        div{
            background: $white;
            height: 5px;
            position: absolute;
            display: block;
            width: calc(100% - 60px);
            border-radius: 1em;
            top: 38%;
            right: 30px;
            &:nth-child(2){
                top: 58%;
                width: calc(100% - 70px);

            }

        }
        @include mq(dt){
            display: none;
        }
    }
}
/*================================================*/

