@use "../globals" as *;
@use "../parts" as *;
/*hero
==================================================*/
.hero {
  position: relative;
  padding-top: 70px;

  @include mq(tb) {
    // padding: 70px 0 90%;
    padding-bottom: 3rem;
  }
  .hero-container {
    padding: .9rem;
    .hero-container__txt {
      // margin-top: 5rem headerも適応されて下に配置されるのはなぜ;
      text-align: center;
      @include mq(tb) {
        margin: 0 auto;
        max-width: 75%;
        padding: 3% 0 9%;
      }
      .hero__txt_small {
        width: 100%;
        font-size: 1.125rem;
        border-radius: 1.5rem;
        padding: 1rem 3rem;
        background-color: rgba($lightBlue, 0.6);
        color: $white;
        span {
          display: inline-block;
          width: 100%;
          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }
        @include mq(tb) {
          span {
            width: auto;
          }
        }
        @include mq(tb) {
          padding: 0.5rem;
          span {
            display: inline;
          }
        }
        .dot{
          display: none;
          @include mq(tb) {
            display: inline;
          }
        }
      }
      .hero__txt_wrapper {
        @include mq(tb) {
          text-align: left;
          margin: 10% 0 auto 0;
        }
      }
      .hero__txt_big {
        @include mq(tb) {
          padding: 0 15px;
        }
        .block {
          display: block;
          // 実践的なのマージンの開け方スマホ
          @include mq(tb) {
            display: none;
          }
        }
        span {
          color: $darkBlue;
          width: 100%;
          display: inline-block;
          &:nth-child(1) {
            font-weight: 100;
            font-size: 5.5vw;
            @include mq(tb) {
              font-size: 24px;
            }
          }
          &:nth-child(2) {
            font-weight: bold;
            font-size: min(62px, 9vw);
            // 文字の折り返しについて
            @include mq(tb) {
              font-size: 62px;
            }
          }
          &:nth-child(3) {
            font-weight: 100;
            font-size: 7vw;
            @include mq(tb) {
              font-size: 42px;
            }
          }
        }

        @include mq(tb) {
          display: inline-block;
          text-align: center;
          span {
            display: block;
          }
          span:nth-child(2) {
            font-size: 3.5rem;
          }
        }
      }
      .hero__list {
        justify-content: start;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 4%;
        margin-top: 2rem;
        @include mq(tb) {
          margin-top: 5%;
          justify-content: left;
        }
        li {
          max-width: 30%;
          background-color: $lightBlue;
          color: $white;
          font-size: 12px;
          font-weight: bold;
          width: 142px;
          border-radius: 1rem;
          padding: 4% 0;
          z-index: 1;
          @include mq(tb) {
            width: 125px;
            height: 125px;
            font-size: 13px;
            padding: 34px 0;
            font-weight: bold;
          }
        }
      }
    }
}

}
.hero-bg {
  position: relative;
    width: 90%;
    margin: -15% 0 0 auto;
    padding-top: 100%;
  @include mq(tb2) {
    position: absolute;
    padding-top: 0;
    bottom: 0;
    right: 0;
     z-index: -1;
     width: 80%;
     height: 80%;
 }
   img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    @include mq(tb2) {
      position: relative;

    }
   }
 }

/*================================================*/
