@use "../globals" as *;
@use "../parts" as *;
/*lean
==================================================*/
    .learn__skill-container{
        @include mq('tb'){
            display: flex;
            gap: 30px;
        }
    }
    .learn-skill__title{
        text-align: center;
        font-size: 1.7rem;
        margin-bottom: .82rem;
        color: $darkBlue;
    }
    .learn__card_left,.learn__card_right,.learn-step{
        margin-bottom: 3rem;
    }  @include mq('tb'){
        .learn__card_left,.learn__card_right{
            width: calc(50% - 30px);
        }
    }
    .learn__card_cautionary{
        margin-top: 1.3rem;
    }
    .learn-list{
       text-align: center;
       width: 100%;
       font-size: 0.8rem;
       font-weight: bold;
       padding: 1rem;
       border-radius: 1rem;
       line-height: 2.5rem;
       background: $lightBlue;
    //    下にも余白つけたい
       .learn__skill{
           display: inline-block;
           padding: 0 .3rem;
           border-radius: .8rem;
           margin: 0 .1rem;
           background-color: $white;
           color: $lightBlue;
           }
     }
    .learn-step{
        max-width: 650px;
        margin: 0 auto;
        border: 4px solid $lightBlue;
        border-radius: 2rem;
        .learn-step__title{
            text-align: center;
            font-size: 1.4rem;
            font-weight: bold;
            padding: .5rem;
            color: $darkBlue;
            background-color: rgba($lightBlue2, .1)
        }
        .learn-step__content{
            max-width: 500px;
            margin: 0 auto;
            display: block;
            padding: 1rem 2rem;
            text-align: left;
            @include mq(tb){
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                text-align: center;
                max-width: 380px;
            }
            .learn-step__content_month{
                display: inline-block;
                width: 150px;
                padding: .2rem 2rem;
                border-radius: 1.5rem;
                background-color: rgba($lightBlue2, .1);
                color: $lightBlue;
                @include mq(tb){
                    width: 125px;
                    padding: .5rem;
                    line-height: 1;
                }
            }
            .learn-step__content_txt{
                max-width: 380px;
                padding: .5rem 0 .6rem;
                @include mq(tb){}
            }
        }
    }

/*================================================*/
