@use "../globals" as *;
@use "../parts" as *;
/*reason
==================================================*/
.section-reason{
    text-align: center;
    padding-bottom: 3rem;
    background-color: $lightBlue;
    color: $white;
    @include mq('tb'){
        br{
            display: none;
        }
    }

    .section-reason__txt{
        margin: 1.7rem 0;
    }
    .section-reason__list{
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 4rem 10px;
        @include mq('tb'){
            max-width: 100vw;
        }
        li{
            width: 48%;
            @include mq('tb'){
                margin: 0 auto;
                width: Calc(25% - 40px * 3 / 4);
                max-width:250px;
            }
            img{
                border:4px solid #fff;
                border-radius: 8%;
                padding: 1rem 2rem;
                width: 80%;
            }
            p{
                margin-bottom: 2rem;
            }
        }
    }
}
/*================================================*/
