@use "../globals" as *;
@use "../parts" as *;
/*reason
==================================================*/
.section-reason{
    text-align: center;
    background-color: $lightBlue;
    color: $white;
.reason__container{
    @include mq(tb){

    }
}
    .reason__title{
        font-size: 1.5rem;
        line-height: 1;
        @include mq(tb){
            br{
                display: none;
            }
        }
        span{
            font-size: 2.5rem;
        }
    }
    .section-reason__txt{
        margin: 8% 0;
        @include mq(tb2){
            max-width: 640px;
            margin: 3em auto;
        }
    }
    .section-reason__list{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 40px 2%;
        max-width: 480px;
        @include mq(tb2){
            max-width: 2000px;
        }
        & li{
            margin: 0 auto;
            border-radius: .5rem;
            flex: 1 0 49%;
            gap: 5px;
            @include mq(tb2){
                margin: 0 auto;
                // width: Calc(25% - 40px * 3 / 4);
                max-width: 200px;
            }
           & p{
                padding: 1rem 0;
            }
            .reason__list_img{
                padding: 1.5em;
                border-radius: 1em;
                border:5px solid $white;
                @include mq(tb){
                    border:10px solid $white;
                    padding: 1rem 3rem;
                }
            }

        }
    }
}
/*================================================*/
