@use "../globals" as *;
@use "../parts" as *;
/*reason
==================================================*/
.section-reason{
    text-align: center;
    background-color: $lightBlue;
    color: $white;

    .reason__title{
        font-size: 1.5rem;
        line-height: 1;
        @include mq(tb){
            br{
                display: none;
            }
        }
        span{
            font-size: 2.5rem;
        }
    }
    .section-reason__txt{
        margin: 8% 0;
        @include mq(tb){
            max-width: 640px;
            margin: 3em auto;
        }
    }
    .section-reason__list{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 40px 2%;
        max-width: 600px;
        @include mq(tb){
            max-width: 2000px;
        }
        li{
            margin: 0 auto;
            width: 48%;
            border-radius: 1.5rem;
            @include mq(tb){
                margin: 0 auto;
                width: Calc(25% - 40px * 3 / 4);
                max-width: 200px;
                flex: 1;
            }
            p{
                padding: 1rem 0;
            }
            img{
                padding: 1rem 2rem;
                margin: 0 auto;
                aspect-ratio: auto 106 / 80;
                border-radius: 1em;
                border:5px solid $white;
                max-width: 150px;
                @include mq(tb){
                    max-width: 200px;
                    border:10px solid $white;
                    padding: 1rem 3rem;

                }
            }
        }
    }
}
/*================================================*/
