@use "../globals" as *;
@use "../parts" as *;
/*select
==================================================*/
.section-select{
    background-color: $lightBlue2;
    counter-reset: number 0;
    @include mq('dt'){
        margin: 0 auto;
    }

    .section-select__list{
        .list__item{
            @include mq('tb'){
                display: flex;
                gap: 15px;
                &:nth-child(odd){
                    flex-direction: row-reverse;
                }
            }
        }
        .list__item-txt_title{
            position: relative;
            padding-left: 3rem ;
            font-size: 1.5rem;
            &::before{
                position: absolute;
                counter-increment: number 1;
                content: counter(number);
                left: 0%;
                bottom: -15px;
                font-size: 4rem;
                font-weight: 100;
            }
        }
        .list__item-txt_article{
            margin-top: 15px;
        }
        .section__img{
            border-radius: 2rem;
            width: calc(100% - 30px);
            margin: 2rem 10px 3rem;
            // box-shadow: 10px 10px rgba(colors(lightBlue), .8);
            @include mq('tb'){
                margin-top: 0;
                width: 350px;
            }
        }
    }

}
/*================================================*/
