@use "../globals" as *;
@use "../parts" as *;
/*support
==================================================*/
.section-support{
    background-color: rgba($lightBlue2, .1);
    @include mq(tb){
        .section__title br{
            display: none;
        }
    }
    .section__title{
        position: relative;
        @include mq(tb){
            .underLine{
                margin-left: 15px;
            }
        }
    }
    & .section__title::after{
        content: "無料\A オプション";
        position: absolute;
        bottom: 50%;
        right: -2vw;
        font-size: 1rem;
        white-space: pre;
        padding: 4%;
        background: $white;
        border-radius: 1rem;
        border-width: 3px;
        border-style: solid;
        border-color: $lightBlue;
        @include mq (tb){
            padding: 1rem;
            bottom: 0;
            right: 5vw;
        }
    }
    .support__list{
        max-width: 900px;
        display: grid;
        grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
        margin-bottom: 3rem;
        margin: 0 auto;
        counter-reset: number 0;
    }
    .support__item{
        text-align: center;
        position: relative;
        &::before{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            background: $lightBlue;
            border-radius: 50%;
            counter-increment: number 1;
            content: counter(number);
            color: $white;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 200px;
            padding: .5rem;
            border-radius: 50%;
            border: 2px solid $lightBlue;
            margin: 1.5rem auto;
        }
        .support__item_title{
            text-align: left;
            color: $lightBlue;
            font-size: 1.12rem;
            margin-bottom: 1rem;
            font-weight: bold;
            line-height: 1;
        }
        p{
            text-align: left;
        }
    }

    .support-comment{
        background-color: $white;
        padding: 30px 45px;
        border-radius: 1rem;
        text-align: center;
        margin-top: 45px;
        .support-comment__txt_top{
            margin-bottom: 2rem;
            color: $lightBlue;
            font-weight: bold;
        }
        .support-comment__list{
            color: $white;
            display: grid;
            gap: 2rem 5%;
            @include mq(tb){
                display: flex;
                justify-content: center;
            }
            .support-comment__item{
                background-color: $lightBlue;
                border-radius: 1.5rem;
                padding: 1rem;
                &:nth-child(1){
                    // margin-bottom: 2rem;
                }
                & p:nth-child(1){
                    padding-bottom: 1rem;
                    padding-top: 0px;
                    font-weight: bold;
                }
                @include mq(tb){
                    width: calc(50% - 5%);
                }
                .support-comment__list_title{
                    padding: 1rem 0 .5rem;
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
}
/*================================================*/
