// $colors:(
//     lightBlue: #39B6FF,
//     lightBlue2:#a1e3ff,
//     black: #333333,
//     white: #fff,
//     paul: #00c7ed,
//     darkBlue: #224377,
//     base: #F2F9FD
// );

// @function colors($key) {
//     @return map-get($colors, $key);
// };

$lightBlue: #39B6FF;
$lightBlue2:#a1e3ff;
$black: #333333;
$white: #fff;
$paul: #00c7ed;
$darkBlue: #224377;
$base: #F2F9FD;


// base: #333,
//     white: #fff,
//     blue: #38B6FF,
//     light_blue: rgb(79 205 255 / 50%),
//     navy: #224277
