// $colors:(
//     lightBlue: #39B6FF,
//     lightBlue2:#a1e3ff,
//     black: #333333,
//     white: #fff,
//     paul: #00c7ed,
//     darkBlue: #224377,
//     base: #F2F9FD
// );

// @function colors($key) {
//     @return map-get($colors, $key);
// };

$lightBlue: #38B6FF;
$lightBlue2: rgb(79 205 255 / 50%);
$green: rgb(0, 199, 237);
$black: #333;
$white: #fff;
$darkBlue: #224277;
$base: #F2F9FD;

