@use "../globals" as *;
@use "../parts" as *;
/*common-layout
==================================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid palegreen;
}

html{
    color: $black;
    line-height: 1.75;
}

img{
    width: 100%;
}

.section__title{
    text-align: center;
    font-size: 1.75rem;
    line-height: 1.6;
    margin-bottom: 8%;
    @include mq(tb){
        font-weight: bold;
        font-size: 2.1rem;
        margin-bottom: 4rem;
        br{
            display: none;
        }
    }
}

.underLine{
    position: relative;
    display: inline-block;
}
.underLine::before{
    position: absolute;
    bottom: 5px;
    left: -10%;
    width: calc(100% + 20%);
    height: 1em;
    background: rgba($lightBlue2, .5);
    content: '';
    z-index: -1;
    border-radius: .75em;
}

.section__title strong{
    font-size: 2rem;
}

.l-wrapper{
    padding:0 1rem;
}

.m-wrapper{
    padding: 10% 1em;
    @include mq(tb){
        max-width: 940px;
        margin: 0 auto;
        padding: 4em 1em;
    }
}



/*================================================*/
